<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    <IfModule mod_headers.c>
        # Basic security headers
        Header always set X-Frame-Options "DENY"
        Header always set X-Content-Type-Options "nosniff"
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        
        
        # Hide Laravel/PHP/Apache version info
        Header unset X-Powered-By
        Header always unset X-Powered-By
        Header unset Server
        Header always unset Server

        # Secure cookies
        Header always edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure

        # Referrer and permissions policy
        Header always set Referrer-Policy "no-referrer-when-downgrade"

        Header always set Permissions-Policy "geolocation=(self), microphone=(self), camera=(self)"


        # No caching for PHP/HTML files
        <FilesMatch "\.(php|html|htm)$">
            Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
            Header set Pragma "no-cache"
            Header set Expires 0
        </FilesMatch>
    </IfModule>

    RewriteEngine On

    # Force HTTPS Redirect
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Disable server signature on error pages
ServerSignature Off
